body {background-color:#CCCCFF;
	margin-left:50px;
	margin-right:50px;

}
#body {
	background-color:white;
	padding-bottom:50px;

}


h1 { 
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size:60px;
margin-left: 50px;
margin-top:50px;
padding-top:50px;
margin-bottom:50px;
line-height:60px;

}

h2 {
	
	font-family: 'Playfair Display', serif;
	font-weight:400;
}

#links {
	margin-left:500px;
font-family: 'Alegreya Sans', sans-serif;
}