body{
	background-color:black;
}

img {
	position:absolute;
}

.niall {
	position:absolute;
	left:200px;
	top:200px;
	transform: rotate(-15deg)
}
.niall img:last-child{display:none}
.niall:hover img:first-child{display:none}
.niall:hover img:last-child{display:inline-block}
    

.harry {
	position:absolute;
	left:900px;
	top:200px;
	transform: rotate(10deg)
}
.harry img:last-child{display:none}
.harry:hover img:first-child{display:none}
.harry:hover img:last-child{display:inline-block}
    

.liam {
	position:absolute;
	left:900px;
	top:500px;
	transform: rotate(15deg)
}
.liam img:last-child{display:none}
.liam:hover img:first-child{display:none}
.liam:hover img:last-child{display:inline-block}

.louis {
	position:absolute;
	left:200px;
	top:500px;
	transform: rotate(15deg)
}
.louis img:last-child{display:none}
.louis:hover img:first-child{display:none}
.louis:hover img:last-child{display:inline-block}


