
.box{
	color:lavender;
	font-family: Futura;
	font-size:100px;
	margin-top:100px;
	margin-left:500px;
}

.box2{
	color:lightblue;
	font-family:Garamond;
	font-size:70px;
	margin-top:200px;
	margin-left:500px;
}

.box3{
	color:pink;
	font-size:90px;
	font-family:Didot;
	margin-top:200px;
	margin-left:500px;

}

.box4{
	color:lavender;
	font-family: Futura;
	font-size:100px;
	margin-top:100px;
	margin-left:500px;
}