body{
	background-color:pink;
}
@font-face{
	font-family: 'BrushScriptStd';
	src:url("BrushScriptStd.otf");
}

@font-face{
	font-family:'Verdana';
	src:url("Verdana.ttf");
}
@font-face{
	font-family: 'Trattatello';
	src:url("Trattatello.ttf");
}


#hey{
	font-family:BrushScriptStd;
	font-size:30px;
	color:white;

}

#hi {

	font-family:Verdana;
	color:purple;
	font-size:40px;
}

#how {

	font-family:Trattatello;
	font-size:50px;
}